.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow: scroll;
  grid-template-rows: min-content auto;
  grid-template-columns: 300px auto;
  overflow: scroll
}

@media (max-width: 480px) {
  .App {
    display: flex;
    flex-direction: column
  }
}